[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "2.2.2"
torchvision = "0.17.2"
facenet-pytorch = "2.6.0"
pillow = "10.2.0"
opencv-python = "4.11.0.86"
numpy = "1.26.4"

[dev-packages]

[requires]
python_version = "3.10"
